<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle_FullScreen">
        <activity
            android:name=".splash_page.SplashActivity"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".guide_page.GuideActivity"
            />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".register.RegisterActivity" />
        <activity android:name=".login_success.Login_Success_Activity" />
        <activity android:name=".login_success.person.person_activity.Personal_Message_Activity" />
        <activity android:name=".login_success.person.person_activity.Personal_FeedBack_Advice_Activity" />
        <activity android:name=".login_success.person.person_activity.Personal_Fragment_Focus_Activity" />
        <activity android:name=".login_success.person.person_activity.Personal_Reset_Pwd_Activity" />
        <activity android:name=".login_success.person.person_activity.Personal_Message_TicketActivity" />
        <activity android:name=".login_success.home_fragment.activity.DetailsActivity" />
        <activity android:name=".login_success.home_fragment.activity.ShowDetailsActivity" />
        <activity android:name=".login_success.home_fragment.activity.BuyTicketActivity" />
        <activity android:name=".login_success.person.person_activity.System_Information"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />

        <activity android:name=".login_success.nearby_cinema_fragment.activity.CinemaDtailActivity" />
        <activity android:name=".login_success.home_fragment.activity.ImageBigActivity" />
        <activity android:name=".login_success.home_fragment.activity.SchedActivity"></activity>
        <activity android:name=".login_success.home_fragment.activity.CinemaSeatTableActivity"></activity>
        <meta-data android:name="com.bw.movie.tools.GlideCacheMore"
        android:value="GlideModule"/>

    </application>

</manifest>